{{define "admin/useredit.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>文件上传</h2>
    <form action="/admin/user/doEdit" method="post" enctype="multipart/form-data">
       用户名 <input type="text" name="username" placeholder="用户名">
        <br>
       头像 1 <input type="file" name="face1">
         <br><br>
       头像 2 <input type="file" name="face2">
       <br><br>
        <input type="submit" value="提交">

    </form>
</body>
</html>

{{end}}